# Python
.venv/
__pycache__/
*.py[cod]

# Environment
.env

# Cache
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# Local data
data/raw/*
data/processed/*
data/analytics/*

# DuckDB
*.duckdb
*.duckdb.wal

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

